.bodyTitle {
    margin: 0px 0 0 0;
    font-size: 2em;
}

.bodyHeader {
    color: var(--very_dark_grey);
    border-bottom: 1px solid var(--mid_grey);
    padding-bottom: 15px;
}

.bodyHeader p {
    margin: 0;
    color: var(--mid_grey);
}

@media only screen and (max-width: 380px) {
    .bodyHeader {
        margin: 5px;
    }
    .bodyTitle {
        margin-bottom: 10px;
    }
}