#breadcrumbsList {
    list-style-type: none;
    border-top: 1px solid var(--mid_grey);
    margin-top: 5px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 5px;
    border-bottom: 1px solid var(--mid_grey);
}

#breadcrumbsList li {
    display: inline;
    margin-right: 10px;
    font-size: 1.1em;
}

#breadcrumbsList li::after {
    content: "\203A";
    margin-left: 10px;
}

#breadcrumbsList li:last-child:after {
    content: "";
}