@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

html {
    --light_blue: #6a97a8;
    --dark_blue: #1c617a;
    --turqoise: rgb(3, 44, 39);
    --white: rgb(255, 255, 254);
    --very_light_grey: rgb(217, 220, 221);
    --light_grey: #bdbdbd;
    --mid_grey: #8f8f8f;
    --dark_grey: rgb(62, 62, 63);
    --very_dark_grey: #131613;
    --radius: 2px;
    --font: 'serif';
    --outer_padding: 22px;
    background-color: var(--very_dark_grey);
    font-size: 18px;
}

body {
    max-width: 1400px;
    width: 95vw;
    font-family: var(--font);
    margin: 0 auto;
    color: var(--very_dark_grey);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input, button {
    font-family: var(--font);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--very_dark_grey);
    font-weight: 500;
}

a {
    color: var(--light_blue);
    text-decoration: none;
    opacity: 0.95;
    transition: opacity 0.4s ease-in-out;
    transition: color 0.4s ease-in-out;
}

a:hover {
    opacity: 1;
}

img {
    object-fit: cover;
}

a:hover, a:focus {
    color: var(--dark_blue);
}

button:hover {
    cursor: pointer;
}

.fullWidth {
    margin-left: calc(var(--outer_padding) - var(--outer_padding) - var(--outer_padding));
    margin-right: calc(var(--outer_padding) - var(--outer_padding) - var(--outer_padding));
    padding-left: var(--outer_padding);
    padding-right: var(--outer_padding);
}

strong {
    font-weight: 600;
}

/*WP Jetpack Share buttons*/
.sd-title {
    display: none !important;
}

.sd-sharing {
    margin-bottom: 0 !important;
}

.sharedaddy {
    border-top: 1px solid var(--very_light_grey);
    padding-top: 25px;
    margin-right: -35px;
    padding-right: 35px;
}