#pageMain {
    border-top: 1px solid var(--mid_grey);
}

#pageContent {
    margin-top: var(--outer_padding);
    display: inline-block;
    flex-grow: 10;
    flex-basis: 400px;
    font-size: 1.15em;
    color: var(--dark_grey);
}

#pageContent > *:nth-child(1) {
    margin-top: 0;
}

#pageMain #postsSidebar {
    flex-basis: 200px;
}