#postMain {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0 0 0;
    border-top: 1px solid var(--mid_grey);
    border-bottom: 1px solid var(--light_grey);
    justify-content: space-between;
    --gutter-width: var(--outer_padding);
    --negative-gutter-width: calc(var(--outer_padding) - var(--outer_padding) - var(--outer_padding));
    margin-left: var(--negative-gutter-width);
    margin-right: var(--negative-gutter-width);
}

#postContent {
    flex-basis: 500px;
    flex-grow: 1.2;
    margin: -20px var(--gutter-width) 0 var(--gutter-width);
    overflow: hidden;
    font-size: 1.25em;
    color: var(--dark_grey);
    border-right: 1px solid var(--light_grey);
    padding: 20px 20px 20px 0px;
}

main.fullWidth {
    padding-top: 0px;
}

#postContent h2, #postContent h3, #postContent h4 {
    color: var(--very_dark_grey);
}

#postContent h2 {
    margin-top: 20px;
    margin-bottom: 12px;
    font-size: 1.5em
}

#postContent h3 {
    font-size: 1.25em;
    margin-bottom: 12px;
}

#postMain .pageThumbnailContainer {
    height: 150px;
}

#postContent p:first-of-type {
    margin-top: 0;
}

#infoSidebar {
    padding-left: 0px;
    margin-top: -20px;
    padding-top: 20px;
    margin-left: var(--gutter-width);
    margin-right: var(--gutter-width);
    min-width: 200px;
    flex: 0 0 100px;
}

#postContent hr.wp-block-separator {
    margin-right: -36px;
    margin-left: -8px;
}

@media only screen and (max-width: 960px) {
    #postContent {
        flex-basis: 800px;
        border-right: none;
        padding-right: 0;
    }

    #postContent p {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 1em;
    }

    #postContent h1, #postContent h2, #postContent h3, #postContent h4, #postContent h5, #postContent h6 {
        padding-left: 20px;
        padding-right: 20px;
    }

    #postContent h2 {
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 800px) {
    #postContent p {
        font-size: 0.95em;
    }
}

@media only screen and (max-width: 620px) {
    #postContent p {
        padding-left: 0px;
        padding-right: 0px;
        font-size: 0.9em;
    }

    #postContent h1, #postContent h2, #postContent h3, #postContent h4, #postContent h5, #postContent h6 {
        padding-left: 0px;
        padding-right: 0px;
    }
}