/*visibility*/

#mobileMenu {
    display: none;
}

#mobileMenuContent {
    display: none;
}

/*end visibility */

.menu-main-container {
    position: relative;
}

#headerNav {
    background-color: var(--very_dark_grey);
    padding: 7px var(--outer_padding);
    border-bottom-right-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
}

#headerNav div {
    width: 100%;
}

#headerNav #menu-main {
    display: flex;
    flex-wrap: wrap;
}

#headerNav ul {
    margin: 0;
    padding: 1px;
}

#headerNav li {
    list-style-type: none;
    text-decoration: none;
    margin-right: 3%;
    align-items: center;
    font-size: 1em;
    display: inline-block;
}

#headerNav li li {
    display: block;
}

#headerNav li a {
    display: block;
    color: var(--white);
    text-decoration: none;
    font-size: 0.9em;
}

#headerNav li a:hover {
    color: var(--light_blue);
}


#siteHeader .sub-menu {
    max-height: 0;
    overflow: hidden;
    padding: 5px 5px 0 5px;
    transition: max-height 0.5s ease-in-out;
    position: absolute;
    background-color: var(--very_dark_grey);
    border-radius: var(--radius);
    z-index: 5;
}

#siteHeader .sub-menu li {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 3px 5px;
    font-size: 1em;
}

#siteHeader .menu-item-has-children:hover ul {
    max-height: 500px;
}

/*media queries*/

@media only screen and (max-width: 850px) {
    #headerNav {
        display: none;
    }

    #headerNav li {
        font-size: 1.2em;
        display: block;
        padding-bottom: 10px;
        padding-top: 10px;
        border-bottom: 1px solid var(--dark_grey);
    }

    #headerNav li:last-of-type {
        border-bottom: none;
    }

    #siteHeader .sub-menu {
        max-height: 1000px;
        overflow: visible;
        position: static;
    }

    #headerNav li li {
        border-bottom: none;
    }
}