@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

html {
    --light_blue: #6a97a8;
    --dark_blue: #1c617a;
    --turqoise: rgb(3, 44, 39);
    --light_grey: rgb(252, 255, 252);
    --mid_grey: #a8a8a8;
    --dark_grey: rgb(80,80,80);
    --very_dark_grey: #242424;
    --radius: 2px;
    --font: 'serif';
    background-color: var(--mid_grey);
    font-size: 18px;
}

body {
    max-width: 1400px;
    width: 95vw;
    font-family: var(--font);
    margin: 0 auto;
    color: var(--very_dark_grey);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input, button {
    font-family: var(--font);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--very_dark_grey);
    font-weight: 500;
}

a {
    color: var(--light_blue);
    text-decoration: none;
    opacity: 0.95;
    transition: opacity 0.4s ease-in-out;
    transition: color 0.4s ease-in-out;
}

a:hover {
    opacity: 1;
}

img {
    object-fit: cover;
}

a:hover, a:focus {
    color: var(--dark_blue);
}

button:hover {
    cursor: pointer;
}