@media only screen and (max-width: 660px) {

    #siteHeader #menu-main {
        display: block;
    }
    
    #siteHeader nav ul {
        column-width: 100px;
    }
    
    #siteHeader nav li {
        margin: 5px 0;
    }
    
    #siteHeader nav li a {
        font-size: 1em;
    }

    #siteHeader .sub-menu {
        display: none;
    }
}