#postContent {
    flex-basis: 300px;
    flex-grow: 4;
    margin: 0 20px;
    overflow: hidden;
    max-width: 700px;
    font-size: 1.1em;
    color: var(--dark_grey);
}

#postMain {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
    padding: 10px 0;
    justify-content: space-between;
}

#postContent h2, #postContent h3, #postContent h4 {
    margin-top: 40px;
}

#postMain .pageThumbnailContainer {
    height: 150px;
}

#postContent p:first-of-type {
    margin-top: 10px;
}