#topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#topBar h2 {
    display: none;
}

#header-widget-container {
    --subscription_font_size: 0.9em; 
    --subscription_form_height: 27px;
    --subscription_transition: background-color 0.5s ease-in-out;
    height: 100%;
    align-items: center;
    margin: 20px;
}

#header-widget-container p {
    margin: 0;
    height: 100%;
}

#header-widget-container form {
    display: flex;
    height: var(--subscription_form_height);
}

#header-widget-container input {
    font-size: var(--subscription_font_size);
    background-color: var(--mid_grey);
    color: var(--light_grey);
    border-style: none;
    border-width: 0;
    border-radius: var(--radius);
    height: 100%;
    box-sizing: border-box; 
}

#header-widget-container input, #header-widget-container button {
    transition: var(--subcription_transition);
}

#header-widget-container input:focus,  #header-widget input:hover {
    background-color: var(--dark_grey);
    outline: none;
}

#header-widget-container button {
    font-size: var(--subscription_font_size);
    height: 100%;
    border-style: none;
    border-width: 0;
    border-radius: var(--radius);
    padding: 1px 10px;
    background-color: var(--dark_grey);
    color: var(--light_grey);
}

#header-widget-container button:hover {
    background-color: var(--very_dark_grey);
}

#header-widget-container input::placeholder {
   color: var(--light_grey);
}