@media only screen and (max-width: 850px) {
    #headerNav {
        display: none;
    }

    #mobileMenu {
        display: block;
    }

    #mobileMenuButton {
        height: 60px;
        width: 60px;
        font-size: 20px;
        border: 1px solid var(--dark_grey);
        color: var(--dark_grey);
        background-color: white;
        border-radius: 4px;
    }
}