#siteHeader {
    display: flex;
    flex-flow: column;
    align-content: center;
    background-color: rgba(0,0,0,0.7);
}

/*sets height of logo*/
#siteHeader h1 {
    display: flex;
    align-items: center;
    height: 65px;
}

#siteHeader h1 a {
    height: 100%;
    display: flex;
    align-items: center;
}

.custom-logo {
    height: 100%;
    width: auto;
}

#topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px var(--outer_padding) 15px var(--outer_padding);
}

#topBar h1 {
    margin: 0;
}

#topBar h2 {
    display: none;
}

.headerButton {
    height: 65px;
    width: 65px;
    font-size: 20px;
    border: 1px solid var(--dark_grey);
    color: var(--dark_grey);
    background-color: white;
    border-radius: 4px;
    display: inline-block;
}

.headerButton:first-of-type {
    margin-right: 8px;
}

#headerButtons {
    display: inline-flex;
    align-items: center;
}

@media only screen and (max-width: 500px) {
    #siteHeader h1 {
        width: 80px;
        overflow: hidden;
    }
}